
html{ 
    background: url(images/indexbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .slidecontainer{
    
}

  .myslides{
    display: block;
    width: 1255px;
    height: 400px;
    border-style: ridge;
    border-color: whitesmoke;
    
    }
    
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:orangered;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}
.text-block {

    color:white;;
    background: black;
    border-style: dotted solid;
    position: relative; top: -95px;
    position: relative; left: 350px;
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    opacity: 0.9;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

#open{
    color: whitesmoke;
}
.sidenav a:hover {
    color:red;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.welcomecontainer{
    padding-left: 650px;
}

#welcometitle{
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

.welcomectext{
    padding-left: 650px;     
}

#welcometext{
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
    font-size: 18px;
    
}

.clogo{
    position: relative; top: -500px;
    position: relative; left: -80px;

}
#ilogo{
    height: 500px;

}


.subtitlecontainer{
    color: white;
    position: relative; top: -500px;
    margin: 10px;
}
#subtitle{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}




#table{
    width: 1255px;
    height: 400px;
    position: relative; top: -450px;
    border-style: groove;
}
.tablec {
    position: relative;
    
   
}

.tablec img {
    margin-bottom: -500px
}

.tablec .tabled {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
}

#buffet{
    width: 1255px;
    height: 400px;
    position: relative; top: 50px;
    border-style: groove;
}
.buffetc {
    position: relative;
    
   
}

.buffetc img {
    margin-bottom: -500px
}

.buffetc .buffetd {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    position: relative; top: 350px;
}

#range{
    width: 1255px;
    height: 400px;
    position: relative; top: 390px;
    border-style: groove;
}
.rangec {
    position: relative;
    
   
}

.rangec img {
    margin-bottom: -500px
}

.rangec .ranged {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    position: relative; top: 650px;
}























.footer {
        width: 100%;
        background-color: rgba(5, 3, 3, 0.349);
        color: white;
        text-align: center;
        padding: 2px;
        opacity: 0.9;
        margin-top: 690px;      
     }

.fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    
      }   
 .fa:hover {
          opacity: 0.7;
      }
      
.fa-facebook {
        background: #3B5998;
        color: white;
      }
.fa-twitter {
        background: #55ACEE;
        color: white;
      }
.fa-youtube {
        background: #bb0000;
        color: white;
      }
.fa-instagram {
        background: #125688;
        color: white;
      }

