
html{ 
    background: url(images/indexbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
    padding: 0;
    margin: 0;
    
}


#bannertitle{
    font-size: 90px;
    font-family: 'Boogaloo', cursive;
    color: black;
}
#subbanner{
    font-size: 25px;
    color: black;

}

.banner-image {
  background-image: url("pic2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Boogaloo', cursive;
}
#contactnav{
    float:right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: black;
}
.contain{
    background: black;
    margin: auto;
    width: 85%;
    padding: 10px;
    height: 2500px;
    
}
.menucontainer{
    margin: auto;
    width: 70%;
    padding: 10px;
    background: grey;
    border: 2px solid white;
    border-radius: 10px;
}
.maintitle{
    padding-right: 500px;
}
#maintitlecss{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.maintext{
    padding-right: 500px;
}
#maintextcss{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-family: 'Berkshire Swash', cursive;
    
}
.mumbailogo{
    position: absolute;
    bottom: -450;
    right: 80;
    
}
.pvideo{
    position: absolute;
    bottom: -1000;
    left: 90;
}
#pvideocss{
    height: 400px;
    width: 550px;
}
.ptitle{
    padding-left: 700px;
    position: absolute;
    bottom: -600;
    right: 90;
}
#ptitlecss{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.ptext{
    padding-left: 750px;
    position: absolute;
    bottom: -1000;
    right: 100;
    
}
#ptextcss{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-family: 'Berkshire Swash', cursive;
}
.subtitlecontainer{
    color: white;
    position: absolute;
    bottom: -100;
    left:500;
}
#subtitle{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#table{
    width: 1098px;
    height: 300px;
    border-style: groove;

}
.tablec {
    position: absolute;
    bottom: -450;
    left:88;
   
}

.tablec img {
    margin-bottom: 10px;
    
}

.tablec .tabled {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1085px;
    
}
#buffet{
    width: 1098px;
    height: 300px;
    position: relative; top: 10px;
    border-style: groove;
}
.buffetc {
    position: absolute;
    bottom: -800;
    left:88;
   
   
}

.buffetc img {
    margin-bottom: 10px;
}

.buffetc .buffetd {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1085px;
}
#range{
    width: 1088px;
    height: 300px;
    position: relative; top: 390px;
    border-style: groove;
}
.rangec {
    position: absolute;
    bottom: -1170;
    left:88;
    
}

.rangec img {
    margin-bottom: 400px
}

.rangec .ranged {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1075px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: absolute;
    bottom: -2500;
    margin: auto;
    height: 250px;
    width: 900px;
    left:220px;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    bottom: -2540px;
  }
  
  .active {
    background-color: #5a5a5a;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  #slideshow1{
      height: 250px;
      width: 900px;
  }

#subbanner{
    width: 100%;;
      
}

#timestext{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-decoration-line: underline;
}
table {
    font-family: 'Pacifico', cursive;
    border-collapse: collapse;
    width: 100%;
    color: white
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #3b3b3b;
}
#ctext{
    color: white;
}
#booktext{
color: white;
font-family: 'Pacifico', cursive;
margin-top: 50px;
font-size: 40px;
text-align: left;
text-decoration: underline;


}
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}



/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #888787;
    padding: 10px;
}
#map{
    margin-bottom: 30px;
}
#subject{
    height: 150px;
}
#calender{
    height: 500px;
    width: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
#demo{
    color: white;
}
#menutitle{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
#submenuheading{
    text-align: center;
}
#itemcss{
    font-family: 'Neucha', cursive;
}
#subvocher{
    color: white;
    text-align: center;
}
.vocher1{
    position: relative;
    top:20px;
    left: 550px;
    border: dashed;
    width: 48%;
    background: grey;    
    color: white;
}
#OFF1{
    color: white;
    font-size: 20px;
}
#code{
    color: red;
    text-align: right;
}
.vocher2{
    position: relative;
    top:-110px;
    left: 550px;
    border: dashed;
    width: 48%;
    background: grey;    
    color: white;
}
.vocher3{
    position: relative;
    top:-65px;
    left: 550px;
    border: dashed;
    width: 48%;
    background: grey;    
    color: white;
}

.previewimage {
    position: relative;
    width: 100%;
    top: -120px;
  }
  
  .image {
    display: block;
    width: 50%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(102, 102, 102);
  }
  
  .previewimage:hover .overlay {
    opacity: 1;
  }
  
  .cm1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Righteous', cursive;
    font-size: 20px;
  }
  .previewimage1 {
    position: relative;
    width: 100%;
    top: -390px;
  }  
  .previewimage1:hover .overlay {
    opacity: 1;
  }
  .previewimage2 {
    position: relative;
    width: 100%;
    top: -385px;
  }  
  .previewimage2:hover .overlay {
    opacity: 1;
  }
  















  #footer{
    left: 0;
    bottom: 0;
    width: 98%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    
  }
