
html{ 
    background: url(images/indexbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
    padding: 0;
    margin: 0;
}


#bannertitle{
    font-size: 90px;
    font-family: 'Boogaloo', cursive;
    color: black;
}
#subbanner{
    font-size: 25px;
    color: black;

}

.banner-image {
  background-image: url("pic2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: black;
}
.contain{
    background: black;
    margin: auto;
    width: 85%;
    padding: 10px;
    
}
.maintitle{
    padding-right: 500px;
}
#maintitlecss{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.maintext{
    padding-right: 500px;
}
#maintextcss{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-family: 'Berkshire Swash', cursive;
}
.mumbailogo{
    position: relative; bottom:400px;
    padding-left:600px;
}
.pvideo{
    position: relative; bottom:250px;
}
#pvideocss{
    height: 400px;
    width: 550px;
}
.ptitle{
    padding-left: 600px;
    position: relative; bottom:700px;
}
#ptitlecss{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.ptext{
    padding-left: 600px;
    position: relative; bottom:700px;
    
}
#ptextcss{
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-family: 'Berkshire Swash', cursive;
}
.subtitlecontainer{
    color: white;
    position: relative; bottom: -50px;
    position: relative; right: 250px;
}
#subtitle{
    color: white;
    text-decoration-line: underline;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#table{
    width: 1088px;
    height: 300px;
    border-style: groove;

}
.tablec {
    position: relative; bottom:-50px;
    position: relative; right: 610px;
   
}

.tablec img {
    margin-bottom: 10px;
    
}

.tablec .tabled {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1075px;
    
}
#buffet{
    width: 1088px;
    height: 300px;
    position: relative; top: 10px;
    border-style: groove;
}
.buffetc {
    position: relative; bottom: -100px;
    position: relative; right: 610px;
   
}

.buffetc img {
    margin-bottom: 10px;
}

.buffetc .buffetd {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1075px;
}
#range{
    width: 1088px;
    height: 300px;
    position: relative; top: 390px;
    border-style: groove;
}
.rangec {
    position: relative; bottom: 220px;
    position: relative; right: 610px;
    
}

.rangec img {
    margin-bottom: 400px
}

.rangec .ranged {
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.842); /* Black background with transparency */
    color: #f1f1f1;
    width: 98.5%;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    width: 1075px;
}
